<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <title>Predictive Analysis</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
</head>
<body>
    <header></header>
    <nav>
        <div>
            <ul>
                <li>Home</li>
                <li>Pricing</li>
                <li>About</li>
                <li>
            </ul>
        </div>
        <div>
            <button><a href="/signup" style="text-decoration: none;">Sign up</a></button>
            <button><a href="/login" style="text-decoration: none;">Login</a></button>
        </div>
    </nav>

    <div id="background_img">
    </div>
    <div>
        <h1>This Program is all about the automation of the data Analysis and also predicting the sales for future decision making</h1>
    </div>

    <script src="../static/js/dashboard.js">
            document.querySelector('.profile').addEventListener('click', function() {
                document.getElementById('file-input').click(); // Trigger the file input click
            });

            document.getElementById('file-input').addEventListener('change', function(event) {
                const file = event.target.files[0]; // Get the selected file
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        // You can set the image source to the profile icon if needed
                        document.querySelector('.profile').style.backgroundImage = `url(${e.target.result})`;
                        document.querySelector('.profile').style.backgroundSize = 'cover'; // Cover the whole area
                        document.querySelector('.profile').style.backgroundPosition = 'center'; // Center the image
                    };
                    reader.readAsDataURL(file); // Read the file as a data URL
                }
            });
    </script>
</body>
</html>