{% extends "layout-two.html" %}

{% block title %}Homepage{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block content %}
<div class="file-upload-container">
    <form action="{{ url_for('main.upload_data') }}" method="POST" enctype="multipart/form-data">
        <!-- Adding the CSRF token here -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <label for="file">Upload CSV or Excel file:</label>
        <input type="file" name="file" accept=".csv, .xlsx" required>
        <button type="submit">Upload</button>
    </form>
</div>

<!-- <h2>Uploaded Data:</h2>
{% if headers and rows %}
    <table border="1">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data uploaded yet.</p>
{% endif %}
{% endblock %} -->