{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<div class="signup-container">
    <!-- Left Form -->
    <div class="registration-form">
        <form method="POST" action="{{ url_for('main.register') }}">
            {{ form.csrf_token }}
            <div class="registration">
                <p>
                    {{ form.firstname.label }} <br>
                    {{ form.firstname(size=32) }}
                    {% for error in form.firstname.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.lastname.label }}<br>
                    {{ form.lastname(size=32) }}
                    {% for error in form.lastname.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                    {% for error in form.email.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password(size=32) }}
                    {% for error in form.confirm_password.errors %}
                        <span class="form-error">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p id="submit">
                    {{ form.submit(class="btn btn-primary") }}
                </p>
            </div>
        </form>
    </div>

    <!-- Right Form -->
    <div class="form-online">
        <h3>Login or sign up with</h3>
        <form method="POST">
            <div class="login-btns">
                <button class="btn-social">Sign up with Google</button>
                <button class="btn-social">Sign up with Facebook</button>
                <button class="btn-social">Sign up with GitHub</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}